.previewPage{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .topView{
    height: 300px;
    display: flex;
    background: #623afc;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 36px 25px;

    .btnCtnr{
        width: 100%;
        height: 40px;
        padding: 10px;
        background: white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button{
            width: fit-content;
            padding: 5px 10px;
            height: 30px;
            font-size: 15px;
            border-radius: 6px;
        }
        .backBtn{
            color: #623afc;
            background: transparent;
            border: 1px solid #623afc;
        }
        .shareBtn{
            color: white;
            background: #623afc;
        }
    }
    }
    .bottomView{
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;

        .mobileScreen{
            margin-top: -191px;
            padding: 20px;
            height: 500px;
            width: 300px;
            border: 1px solid #ddcbcb;
            box-shadow: 2px 2px 4px 2px #d5d5d7;
            background: white;
            border-radius: 20px;
            transition: all 0.3s ease;
            overflow: scroll;
            overflow-x: hidden;

            .mainScreen{
                display: flex;
                flex-direction: column;
                border-radius: inherit;
                padding: 20px;
                padding-top: 10px;
                align-items: center;
                gap: 25px;
                

                .profilePic{
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background: #aca1a1;
                    background-size: cover;
                }
                
                .proflieCtnr{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    align-items: center;

                    .profileName{
                        width: 60%;
                        padding: 8px 8px;
                        background: #aca1a1;
                    }
                    .profileUserName{
                        width: 40%;
                        padding: 4px 8px;
                        background: #aca1a1;
    
                    }
                }

                .linkCtnr{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;

                    button{
                        width: 80%;
                        padding: 12px 30px;
                        border-radius: 8px;
                        color: white;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                       

                        &:disabled{
                            padding: 16px 30px;
                            background: #726c6c65;
                        }
                    }

                    .gitHubBtn{
                        background: #2e2c2c;
                    }
                    .youTubeBtn{
                        background: #FF0000;
                    }
                    .linkedInBtn{
                        background: #2885ff;
                    }
                    .whatsAppBtn{
                        background: #25D366;
                    }
                    .facebookBtn{
                        background: #4267B2;
                    }
                    .twitterBtn{
                        background: #1DA1F2;
                    }
                }
            }
        }
    }
}