.linkCtnr{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: #f1e7e782;
    color: #000;
    padding: 20px;

    header{
        display: flex;
        position: static;
        padding: 5px 0px;
        background: inherit;
        z-index: 10;
        
        span{
            display: flex;
            align-items: center;
        }
        .removeBtn{
            width: 100px;
            padding: 2px 20px;
            text-align: center;
            background: white;
            color: #000;
        }
    }
    .createLinkDiv{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    input{
        width: 100%;
    }
}