.createLinkContainer{
    width: 60%;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    padding-bottom: 30px;
    background: white;

    span{
        text-align: left;
        color: #000;
        h3{
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
        }
    }
    .addNewLinkBtn{
        width: 90%;
        border: 1px solid #623afc;
        outline: none;
        padding: 8px 40px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #623afc;

    }
}