@import "../assets/mobileDesign.scss";

.createLinkContainer{

    @include xs{
        width: 100%;
    }
    @include sm{
        width: 100%;
    }
    @include lt-sm{
        align-items: center;
        .addNewLinkBtn{
            margin-top: 14px;
            width: 70%;
        }
        span{
            padding: 20px;
            text-align: center;

            p{
                margin-top: 8px;
            }
        }
        header{
            span{
                padding: 3px;
                font-size: 13px;
            }
            .removeBtn{
                width: 70px;
                font-size: 13px;
                padding: 3px;
            }
        }
    }
}