header{
    padding: 15px 20px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: white;
    
    div{
        display: flex;
        gap: 10px;
        align-self: center;

        a{
            border: none; 
            font-weight: normal;
            padding: 4px 14px;
            display: flex;
            gap: 4px;
            align-items: center;

            &:hover, &:active{
                background: #9980ff33;
                color: #623afc;
                
            }
        }
        .active{
            background: #9980ff33;
            color: #623afc;
            
        }
    }
    a{
        border: 1px solid #000;
        text-decoration: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 6px;
        transition: all 0.4s ease;
        background: inherit;
    }
 
}