@import "../mobileDesign.scss";
header{
    @include xs{
        div{
            gap: 13px;
            a{
                gap: 1px;
                padding: 3px 5px;
            }
        }
        a{
            padding: 5px 8px;
        }
    }

    @include sm{
        div{
            a{
                font-size: 12px;
            }
        }
    }
    @include lt-sm{
        div{
            a{
                padding: 12px 20px;
                p{
                    display: none;
                }
            }
        }
    }
}