@import "../mobileDesign.scss";
header{
    @include xs{
        div{
            gap: 13px;
            a{
                gap: 1px;
                padding: 3px 5px;
            }
        }
        a{
            padding: 5px 8px;
        }
    }
}